@import "common/var";

@font-face {
    font-family: 'phoon-icons';
    src: url('#{$--font-path}/phoon-icons.woff')format('woff'),
    url('#{$--font-path}/phoon-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: $--font-display;
}

[class^="ph-icon-icon-"],
[class*=" ph-icon-icon-"] {
    font-family: 'phoon-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.ph-icon-favourite-star-1:before {
    content: "\e6a2";
}

.ph-icon-ellipsis:before {
    content: "\e6a3";
}

.ph-icon-film-frame:before {
    content: "\e6a4";
}

.ph-icon-file-folder:before {
    content: "\e6a5";
}

.ph-icon-empty-label:before {
    content: "\e6a6";
}

.ph-icon-favourite-star:before {
    content: "\e6a7";
}

.ph-icon-flag:before {
    content: "\e6a8";
}

.ph-icon-heart:before {
    content: "\e6a9";
}

.ph-icon-hard-disk:before {
    content: "\e6aa";
}

.ph-icon-happy-face-1:before {
    content: "\e6ab";
}

.ph-icon-happy-face:before {
    content: "\e6ac";
}

.ph-icon-info-button:before {
    content: "\e6ad";
}

.ph-icon-image-gallery:before {
    content: "\e6ae";
}

.ph-icon-information-button:before {
    content: "\e6af";
}

.ph-icon-image:before {
    content: "\e6b0";
}

.ph-icon-help-bubble:before {
    content: "\e6b1";
}

.ph-icon-item-list:before {
    content: "\e6b2";
}

.ph-icon-move-to-next:before {
    content: "\e6b3";
}

.ph-icon-low-signal-indicator:before {
    content: "\e6b4";
}

.ph-icon-image-and-text-document:before {
    content: "\e6b5";
}

.ph-icon-loop-arrow:before {
    content: "\e6b6";
}

.ph-icon-magnifier:before {
    content: "\e6b7";
}

.ph-icon-padlock-with-a-dot:before {
    content: "\e6b8";
}

.ph-icon-gear:before {
    content: "\e6b9";
}

.ph-icon-minus-circular-button:before {
    content: "\e6ba";
}

.ph-icon-outgoing-call:before {
    content: "\e6bb";
}

.ph-icon-new-document:before {
    content: "\e6bc";
}

.ph-icon-parking-signal:before {
    content: "\e6bd";
}

.ph-icon-pause-button:before {
    content: "\e6be";
}

.ph-icon-plane:before {
    content: "\e6bf";
}

.ph-icon-placeholder:before {
    content: "\e6c0";
}

.ph-icon-play-and-pause-button:before {
    content: "\e6c1";
}

.ph-icon-pause-button-1:before {
    content: "\e6c2";
}

.ph-icon-play-button-1:before {
    content: "\e6c3";
}

.ph-icon-ph-iconone-call:before {
    content: "\e6c4";
}

.ph-icon-play-button:before {
    content: "\e6c5";
}

.ph-icon-plug-connector:before {
    content: "\e6c6";
}

.ph-icon-plus:before {
    content: "\e6c7";
}

.ph-icon-plus-circular-button:before {
    content: "\e6c8";
}

.ph-icon-power-button:before {
    content: "\e6c9";
}

.ph-icon-profile-user-1:before {
    content: "\e6ca";
}

.ph-icon-prohibition:before {
    content: "\e6cb";
}

.ph-icon-profile-user:before {
    content: "\e6cc";
}

.ph-icon-printer:before {
    content: "\e6cd";
}

.ph-icon-question-mark:before {
    content: "\e6ce";
}

.ph-icon-refresh-arrow:before {
    content: "\e6cf";
}

.ph-icon-rewind-button:before {
    content: "\e6d0";
}

.ph-icon-right-arrow-1:before {
    content: "\e6d1";
}

.ph-icon-residential-block:before {
    content: "\e6d2";
}

.ph-icon-scribble:before {
    content: "\e6d3";
}

.ph-icon-right-arrow:before {
    content: "\e6d4";
}

.ph-icon-speech-bubble:before {
    content: "\e6d5";
}

.ph-icon-tablet:before {
    content: "\e6d6";
}

.ph-icon-station:before {
    content: "\e6d7";
}

.ph-icon-signal-detection-button:before {
    content: "\e6d8";
}

.ph-icon-tag-delete:before {
    content: "\e6d9";
}

.ph-icon-speech-bubble-with-exclamation-mark:before {
    content: "\e6da";
}

.ph-icon-trash-bin:before {
    content: "\e6db";
}

.ph-icon-turn-right-arrow:before {
    content: "\e6dc";
}

.ph-icon-user-bubble:before {
    content: "\e6dd";
}

.ph-icon-upload-arrow:before {
    content: "\e6de";
}

.ph-icon-two-way-arrows:before {
    content: "\e6df";
}

.ph-icon-vertical-dots:before {
    content: "\e6e0";
}

.ph-icon-volume-level:before {
    content: "\e6e1";
}

.ph-icon-warning-signal:before {
    content: "\e6e2";
}

.ph-icon-virtual-private-network-vpn:before {
    content: "\e6e3";
}

.ph-icon-wifi-signal-level:before {
    content: "\e6e4";
}

.ph-icon-text-lines:before {
    content: "\e6e5";
}

.ph-icon-add-friend:before {
    content: "\e682";
}

.ph-icon-back-arrow:before {
    content: "\e683";
}

.ph-icon-add-button:before {
    content: "\e684";
}

.ph-icon-analog-clock:before {
    content: "\e685";
}

.ph-icon-back-arrows:before {
    content: "\e686";
}

.ph-icon-bell:before {
    content: "\e687";
}

.ph-icon-briefcase-with-a-circle:before {
    content: "\e688";
}

.ph-icon-bullseye:before {
    content: "\e689";
}

.ph-icon-bluetooth-signal:before {
    content: "\e68a";
}

.ph-icon-cake-with-a-candle:before {
    content: "\e68b";
}

.ph-icon-call-ended:before {
    content: "\e68c";
}

.ph-icon-briefcase-with-check-mark:before {
    content: "\e68d";
}

.ph-icon-cancel-button:before {
    content: "\e68e";
}

.ph-icon-caret-arrow-up:before {
    content: "\e68f";
}

.ph-icon-call-in-progress:before {
    content: "\e690";
}

.ph-icon-check-mark-4:before {
    content: "\e691";
}

.ph-icon-chat-bubble:before {
    content: "\e692";
}

.ph-icon-check-mark-3:before {
    content: "\e693";
}

.ph-icon-check-mark:before {
    content: "\e694";
}

.ph-icon-check-mark-1:before {
    content: "\e695";
}

.ph-icon-check-mark-on-cloud:before {
    content: "\e696";
}

.ph-icon-cloud:before {
    content: "\e697";
}

.ph-icon-check-mark-2:before {
    content: "\e698";
}

.ph-icon-car:before {
    content: "\e699";
}

.ph-icon-download-arrow:before {
    content: "\e69a";
}

.ph-icon-closed-mail-envelope:before {
    content: "\e69b";
}

.ph-icon-close-cross:before {
    content: "\e69c";
}

.ph-icon-edit-profile:before {
    content: "\e69d";
}

.ph-icon-drawing-palette:before {
    content: "\e69e";
}

.ph-icon-counterclockwide-arrow:before {
    content: "\e69f";
}

.ph-icon-cyclist:before {
    content: "\e6a0";
}

.ph-icon-empty-checkbox:before {
    content: "\e6a1";
}