@import "common/var";

@font-face {
	font-family: "phoon-icons";
	src: url("#{$--font-path}/phoon-icons.woff") format("woff"),
		url("#{$--font-path}/phoon-icons.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: $--font-display;
}

[class^="ph-icon-"],
[class*=" ph-icon-"] {
	font-family: "phoon-icons" !important;
	speak: none;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// .ph-icon {
// 	font-family: "phoon-icons" !important;
// 	font-size: 16px;
// 	font-style: normal;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

.ph-icon-creditcard:before {
	content: "\e7fb";
}

.ph-icon-contacts:before {
	content: "\e7fc";
}

.ph-icon-checkstand:before {
	content: "\e7fd";
}

.ph-icon-aviation:before {
	content: "\e7fe";
}

.ph-icon-Daytimemode:before {
	content: "\e7ff";
}

.ph-icon-infantmom:before {
	content: "\e800";
}

.ph-icon-discounts:before {
	content: "\e801";
}

.ph-icon-invoice:before {
	content: "\e802";
}

.ph-icon-insurance:before {
	content: "\e803";
}

.ph-icon-nightmode:before {
	content: "\e804";
}

.ph-icon-usercenter:before {
	content: "\e805";
}

.ph-icon-unlock:before {
	content: "\e806";
}

.ph-icon-vip:before {
	content: "\e807";
}

.ph-icon-wallet:before {
	content: "\e808";
}

.ph-icon-landtransportation:before {
	content: "\e809";
}

.ph-icon-voice:before {
	content: "\e80a";
}

.ph-icon-exchangerate:before {
	content: "\e80b";
}

.ph-icon-docjpge-fill:before {
	content: "\e80c";
}

.ph-icon-jpge-fill:before {
	content: "\e80d";
}

.ph-icon-gifjpge-fill:before {
	content: "\e80e";
}

.ph-icon-bmpjpge-fill:before {
	content: "\e80f";
}

.ph-icon-tifjpge-fill:before {
	content: "\e810";
}

.ph-icon-Hometextile:before {
	content: "\e811";
}

.ph-icon-home:before {
	content: "\e812";
}

.ph-icon-add-select:before {
	content: "\e813";
}

.ph-icon-sami-select:before {
	content: "\e814";
}

.ph-icon-camera:before {
	content: "\e815";
}

.ph-icon-arrow-down:before {
	content: "\e816";
}

.ph-icon-account:before {
	content: "\e817";
}

.ph-icon-comments:before {
	content: "\e818";
}

.ph-icon-cart-Empty1:before {
	content: "\e819";
}

.ph-icon-favorites:before {
	content: "\e81a";
}

.ph-icon-order:before {
	content: "\e81b";
}

.ph-icon-search:before {
	content: "\e81c";
}

.ph-icon-trade-assurance:before {
	content: "\e81d";
}

.ph-icon-usercenter1:before {
	content: "\e81e";
}

.ph-icon-tradingdata:before {
	content: "\e81f";
}

.ph-icon-microphone:before {
	content: "\e820";
}

.ph-icon-txt:before {
	content: "\e821";
}

.ph-icon-xlsx:before {
	content: "\e822";
}

.ph-icon-auto:before {
	content: "\e6eb";
}

.ph-icon-banzhengfuwu:before {
	content: "\e823";
}

.ph-icon-all:before {
	content: "\e6ef";
}

.ph-icon-cangku:before {
	content: "\e824";
}

.ph-icon-bussiness-man:before {
	content: "\e6f0";
}

.ph-icon-daibancaishui:before {
	content: "\e825";
}

.ph-icon-component:before {
	content: "\e6f2";
}

.ph-icon-jizhuangxiang:before {
	content: "\e826";
}

.ph-icon-code:before {
	content: "\e6f3";
}

.ph-icon-jiaobiao:before {
	content: "\e827";
}

.ph-icon-copy:before {
	content: "\e6f4";
}

.ph-icon-kehupandian:before {
	content: "\e828";
}

.ph-icon-dollar:before {
	content: "\e6f5";
}

.ph-icon-dongtai:before {
	content: "\e829";
}

.ph-icon-history:before {
	content: "\e6f8";
}

.ph-icon-daikuan:before {
	content: "\e82a";
}

.ph-icon-editor:before {
	content: "\e6f6";
}

.ph-icon-shengyijing:before {
	content: "\e82b";
}

.ph-icon-data:before {
	content: "\e6f9";
}

.ph-icon-jiehui:before {
	content: "\e82c";
}

.ph-icon-gift:before {
	content: "\e6fa";
}

.ph-icon-fencengpeizhi:before {
	content: "\e82d";
}

.ph-icon-integral:before {
	content: "\e6fb";
}

.ph-icon-shenqingjilu:before {
	content: "\e82e";
}

.ph-icon-nav-list:before {
	content: "\e6fd";
}

.ph-icon-shangchuanbeiandanzheng:before {
	content: "\e82f";
}

.ph-icon-pic:before {
	content: "\e6ff";
}

.ph-icon-shangchuan:before {
	content: "\e830";
}

.ph-icon-Notvisible:before {
	content: "\e6fe";
}

.ph-icon-kehuquanyi:before {
	content: "\e831";
}

.ph-icon-play:before {
	content: "\e701";
}

.ph-icon-suoxiao:before {
	content: "\e832";
}

.ph-icon-rising:before {
	content: "\e703";
}

.ph-icon-quanyipeizhi:before {
	content: "\e833";
}

.ph-icon-QRcode:before {
	content: "\e704";
}

.ph-icon-shuangshen:before {
	content: "\e834";
}

.ph-icon-rmb:before {
	content: "\e705";
}

.ph-icon-tongguan:before {
	content: "\e835";
}

.ph-icon-similar-product:before {
	content: "\e707";
}

.ph-icon-tuishui:before {
	content: "\e836";
}

.ph-icon-Exportservices:before {
	content: "\e702";
}

.ph-icon-tongguanshuju:before {
	content: "\e837";
}

.ph-icon-sendinquiry:before {
	content: "\e70d";
}

.ph-icon-kuaidiwuliu:before {
	content: "\e838";
}

.ph-icon-wuliuchanpin:before {
	content: "\e839";
}

.ph-icon-favorites-fill:before {
	content: "\e721";
}

.ph-icon-waihuishuju:before {
	content: "\e83a";
}

.ph-icon-xinxibar_shouji:before {
	content: "\e83b";
}

.ph-icon-xinwaizongyewu:before {
	content: "\e83c";
}

.ph-icon-wuliudingdan:before {
	content: "\e83d";
}

.ph-icon-zhongjianren:before {
	content: "\e83e";
}

.ph-icon-xinxibar_zhanghu:before {
	content: "\e83f";
}

.ph-icon-yidatong:before {
	content: "\e840";
}

.ph-icon-column:before {
	content: "\e741";
}

.ph-icon-zhuanyequanwei:before {
	content: "\e841";
}

.ph-icon-add-account:before {
	content: "\e742";
}

.ph-icon-zhanghucaozuo:before {
	content: "\e842";
}

.ph-icon-column1:before {
	content: "\e743";
}

.ph-icon-xuanzhuandu:before {
	content: "\e843";
}

.ph-icon-add:before {
	content: "\e744";
}

.ph-icon-tuishuirongzi:before {
	content: "\e844";
}

.ph-icon-agriculture:before {
	content: "\e745";
}

.ph-icon-AddProducts:before {
	content: "\e845";
}

.ph-icon-years:before {
	content: "\e746";
}

.ph-icon-ziyingyewu:before {
	content: "\e846";
}

.ph-icon-add-cart:before {
	content: "\e747";
}

.ph-icon-addcell:before {
	content: "\e847";
}

.ph-icon-arrow-right:before {
	content: "\e748";
}

.ph-icon-background-color:before {
	content: "\e848";
}

.ph-icon-arrow-left:before {
	content: "\e749";
}

.ph-icon-cascades:before {
	content: "\e849";
}

.ph-icon-apparel:before {
	content: "\e74a";
}

.ph-icon-beijing:before {
	content: "\e84a";
}

.ph-icon-all1:before {
	content: "\e74b";
}

.ph-icon-bold:before {
	content: "\e84b";
}

.ph-icon-arrow-up:before {
	content: "\e74c";
}

.ph-icon-zijin:before {
	content: "\e84c";
}

.ph-icon-ascending:before {
	content: "\e74d";
}

.ph-icon-eraser:before {
	content: "\e84d";
}

.ph-icon-ashbin:before {
	content: "\e74e";
}

.ph-icon-centeralignment:before {
	content: "\e84e";
}

.ph-icon-atm:before {
	content: "\e74f";
}

.ph-icon-click:before {
	content: "\e84f";
}

.ph-icon-bad:before {
	content: "\e750";
}

.ph-icon-aspjiesuan:before {
	content: "\e850";
}

.ph-icon-attachent:before {
	content: "\e751";
}

.ph-icon-flag:before {
	content: "\e851";
}

.ph-icon-browse:before {
	content: "\e752";
}

.ph-icon-beauty:before {
	content: "\e753";
}

.ph-icon-Fee:before {
	content: "\e853";
}

.ph-icon-atm-away:before {
	content: "\e754";
}

.ph-icon-filling:before {
	content: "\e854";
}

.ph-icon-assessed-badge:before {
	content: "\e755";
}

.ph-icon-Foreigncurrency:before {
	content: "\e855";
}

.ph-icon-auto1:before {
	content: "\e756";
}

.ph-icon-guanliyuan:before {
	content: "\e856";
}

.ph-icon-bags:before {
	content: "\e757";
}

.ph-icon-language:before {
	content: "\e857";
}

.ph-icon-calendar:before {
	content: "\e758";
}

.ph-icon-leftalignment:before {
	content: "\e858";
}

.ph-icon-cart-full:before {
	content: "\e759";
}

.ph-icon-extra-inquiries:before {
	content: "\e859";
}

.ph-icon-calculator:before {
	content: "\e75a";
}

.ph-icon-Italic:before {
	content: "\e85a";
}

.ph-icon-cameraswitching:before {
	content: "\e75b";
}

.ph-icon-pcm:before {
	content: "\e85b";
}

.ph-icon-cecurity-protection:before {
	content: "\e75c";
}

.ph-icon-reducecell:before {
	content: "\e85c";
}

.ph-icon-category:before {
	content: "\e75d";
}

.ph-icon-rightalignment:before {
	content: "\e85d";
}

.ph-icon-close:before {
	content: "\e75e";
}

.ph-icon-pointerleft:before {
	content: "\e85e";
}

.ph-icon-certified-supplier:before {
	content: "\e75f";
}

.ph-icon-subscript:before {
	content: "\e85f";
}

.ph-icon-cart-Empty:before {
	content: "\e760";
}

.ph-icon-square:before {
	content: "\e860";
}

.ph-icon-code1:before {
	content: "\e761";
}

.ph-icon-superscript:before {
	content: "\e861";
}

.ph-icon-color:before {
	content: "\e762";
}

.ph-icon-tag-subscript:before {
	content: "\e862";
}

.ph-icon-conditions:before {
	content: "\e763";
}

.ph-icon-danjuzhuanhuan:before {
	content: "\e863";
}

.ph-icon-confirm:before {
	content: "\e764";
}

.ph-icon-Transfermoney:before {
	content: "\e864";
}

.ph-icon-company:before {
	content: "\e765";
}

.ph-icon-under-line:before {
	content: "\e865";
}

.ph-icon-ali-clould:before {
	content: "\e766";
}

.ph-icon-xiakuangxian:before {
	content: "\e866";
}

.ph-icon-copy1:before {
	content: "\e767";
}

.ph-icon-shouqi:before {
	content: "\e867";
}

.ph-icon-credit-level:before {
	content: "\e768";
}

.ph-icon-zhankai:before {
	content: "\e868";
}

.ph-icon-coupons:before {
	content: "\e769";
}

.ph-icon-tongxunlu:before {
	content: "\e869";
}

.ph-icon-connections:before {
	content: "\e76a";
}

.ph-icon-yiguanzhugongyingshang:before {
	content: "\e86a";
}

.ph-icon-cry:before {
	content: "\e76b";
}

.ph-icon-goumaipianhao:before {
	content: "\e86b";
}

.ph-icon-costoms-alearance:before {
	content: "\e76c";
}

.ph-icon-Subscribe:before {
	content: "\e86c";
}

.ph-icon-clock:before {
	content: "\e76d";
}

.ph-icon-becomeagoldsupplier:before {
	content: "\e86d";
}

.ph-icon-CurrencyConverter:before {
	content: "\e76e";
}

.ph-icon-new:before {
	content: "\e86e";
}

.ph-icon-cut:before {
	content: "\e76f";
}

.ph-icon-free:before {
	content: "\e86f";
}

.ph-icon-data1:before {
	content: "\e770";
}

.ph-icon-cad-fill:before {
	content: "\e870";
}

.ph-icon-Customermanagement:before {
	content: "\e771";
}

.ph-icon-robot:before {
	content: "\e871";
}

.ph-icon-descending:before {
	content: "\e772";
}

.ph-icon-inspection1:before {
	content: "\e872";
}

.ph-icon-double-arro-right:before {
	content: "\e773";
}

.ph-icon-customization:before {
	content: "\e774";
}

.ph-icon-double-arrow-left:before {
	content: "\e775";
}

.ph-icon-discount:before {
	content: "\e776";
}

.ph-icon-download:before {
	content: "\e777";
}

.ph-icon-dollar1:before {
	content: "\e778";
}

.ph-icon-default-template:before {
	content: "\e779";
}

.ph-icon-editor1:before {
	content: "\e77a";
}

.ph-icon-eletrical:before {
	content: "\e77b";
}

.ph-icon-electronics:before {
	content: "\e77c";
}

.ph-icon-etrical-equipm:before {
	content: "\e77d";
}

.ph-icon-ellipsis:before {
	content: "\e77e";
}

.ph-icon-email:before {
	content: "\e77f";
}

.ph-icon-falling:before {
	content: "\e780";
}

.ph-icon-earth:before {
	content: "\e781";
}

.ph-icon-filter:before {
	content: "\e782";
}

.ph-icon-furniture:before {
	content: "\e783";
}

.ph-icon-folder:before {
	content: "\e784";
}

.ph-icon-feeds:before {
	content: "\e785";
}

.ph-icon-history1:before {
	content: "\e786";
}

.ph-icon-hardware:before {
	content: "\e787";
}

.ph-icon-help:before {
	content: "\e788";
}

.ph-icon-good:before {
	content: "\e789";
}

.ph-icon-Householdappliances:before {
	content: "\e78a";
}

.ph-icon-gift1:before {
	content: "\e78b";
}

.ph-icon-form:before {
	content: "\e78c";
}

.ph-icon-image-text:before {
	content: "\e78d";
}

.ph-icon-hot:before {
	content: "\e78e";
}

.ph-icon-inspection:before {
	content: "\e78f";
}

.ph-icon-leftbutton:before {
	content: "\e790";
}

.ph-icon-jewelry:before {
	content: "\e791";
}

.ph-icon-ipad:before {
	content: "\e792";
}

.ph-icon-leftarrow:before {
	content: "\e793";
}

.ph-icon-integral1:before {
	content: "\e794";
}

.ph-icon-kitchen:before {
	content: "\e795";
}

.ph-icon-inquiry-template:before {
	content: "\e796";
}

.ph-icon-link:before {
	content: "\e797";
}

.ph-icon-libra:before {
	content: "\e798";
}

.ph-icon-loading:before {
	content: "\e799";
}

.ph-icon-listing-content:before {
	content: "\e79a";
}

.ph-icon-lights:before {
	content: "\e79b";
}

.ph-icon-logistics-icon:before {
	content: "\e79c";
}

.ph-icon-messagecenter:before {
	content: "\e79d";
}

.ph-icon-mobile-phone:before {
	content: "\e79e";
}

.ph-icon-manage-order:before {
	content: "\e79f";
}

.ph-icon-move:before {
	content: "\e7a0";
}

.ph-icon-Moneymanagement:before {
	content: "\e7a1";
}

.ph-icon-namecard:before {
	content: "\e7a2";
}

.ph-icon-map:before {
	content: "\e7a3";
}

.ph-icon-Newuserzone:before {
	content: "\e7a4";
}

.ph-icon-multi-language:before {
	content: "\e7a5";
}

.ph-icon-office:before {
	content: "\e7a6";
}

.ph-icon-notice:before {
	content: "\e7a7";
}

.ph-icon-ontimeshipment:before {
	content: "\e7a8";
}

.ph-icon-office-supplies:before {
	content: "\e7a9";
}

.ph-icon-password:before {
	content: "\e7aa";
}

.ph-icon-Notvisible1:before {
	content: "\e7ab";
}

.ph-icon-operation:before {
	content: "\e7ac";
}

.ph-icon-packaging:before {
	content: "\e7ad";
}

.ph-icon-online-tracking:before {
	content: "\e7ae";
}

.ph-icon-packing-labeling:before {
	content: "\e7af";
}

.ph-icon-phone:before {
	content: "\e7b0";
}

.ph-icon-pic1:before {
	content: "\e7b1";
}

.ph-icon-pin:before {
	content: "\e7b2";
}

.ph-icon-play1:before {
	content: "\e7b3";
}

.ph-icon-logistic-logo:before {
	content: "\e7b4";
}

.ph-icon-print:before {
	content: "\e7b5";
}

.ph-icon-product:before {
	content: "\e7b6";
}

.ph-icon-machinery:before {
	content: "\e7b7";
}

.ph-icon-process:before {
	content: "\e7b8";
}

.ph-icon-prompt:before {
	content: "\e7b9";
}

.ph-icon-QRcode1:before {
	content: "\e7ba";
}

.ph-icon-reeor:before {
	content: "\e7bb";
}

.ph-icon-reduce:before {
	content: "\e7bc";
}

.ph-icon-Non-staplefood:before {
	content: "\e7bd";
}

.ph-icon-rejected-order:before {
	content: "\e7be";
}

.ph-icon-resonserate:before {
	content: "\e7bf";
}

.ph-icon-remind:before {
	content: "\e7c0";
}

.ph-icon-responsetime:before {
	content: "\e7c1";
}

.ph-icon-return:before {
	content: "\e7c2";
}

.ph-icon-paylater:before {
	content: "\e7c3";
}

.ph-icon-rising1:before {
	content: "\e7c4";
}

.ph-icon-Rightarrow:before {
	content: "\e7c5";
}

.ph-icon-rmb1:before {
	content: "\e7c6";
}

.ph-icon-RFQ-logo:before {
	content: "\e7c7";
}

.ph-icon-save:before {
	content: "\e7c8";
}

.ph-icon-scanning:before {
	content: "\e7c9";
}

.ph-icon-security:before {
	content: "\e7ca";
}

.ph-icon-salescenter:before {
	content: "\e7cb";
}

.ph-icon-seleted:before {
	content: "\e7cc";
}

.ph-icon-searchcart:before {
	content: "\e7cd";
}

.ph-icon-raw:before {
	content: "\e7ce";
}

.ph-icon-service:before {
	content: "\e7cf";
}

.ph-icon-share:before {
	content: "\e7d0";
}

.ph-icon-signboard:before {
	content: "\e7d1";
}

.ph-icon-shuffling-banner:before {
	content: "\e7d2";
}

.ph-icon-Rightbutton:before {
	content: "\e7d3";
}

.ph-icon-sorting:before {
	content: "\e7d4";
}

.ph-icon-sound-Mute:before {
	content: "\e7d5";
}

.ph-icon-Similarproducts:before {
	content: "\e7d6";
}

.ph-icon-sound-filling:before {
	content: "\e7d7";
}

.ph-icon-suggest:before {
	content: "\e7d8";
}

.ph-icon-stop:before {
	content: "\e7d9";
}

.ph-icon-success:before {
	content: "\e7da";
}

.ph-icon-supplier-features:before {
	content: "\e7db";
}

.ph-icon-switch:before {
	content: "\e7dc";
}

.ph-icon-survey:before {
	content: "\e7dd";
}

.ph-icon-template:before {
	content: "\e7de";
}

.ph-icon-text:before {
	content: "\e7df";
}

.ph-icon-suspended:before {
	content: "\e7e0";
}

.ph-icon-task-management:before {
	content: "\e7e1";
}

.ph-icon-tool:before {
	content: "\e7e2";
}

.ph-icon-Top:before {
	content: "\e7e3";
}

.ph-icon-smile:before {
	content: "\e7e4";
}

.ph-icon-textile-products:before {
	content: "\e7e5";
}

.ph-icon-tradealert:before {
	content: "\e7e6";
}

.ph-icon-topsales:before {
	content: "\e7e7";
}

.ph-icon-tradingvolume:before {
	content: "\e7e8";
}

.ph-icon-training:before {
	content: "\e7e9";
}

.ph-icon-upload:before {
	content: "\e7ea";
}

.ph-icon-RFQ-word:before {
	content: "\e7eb";
}

.ph-icon-viewlarger:before {
	content: "\e7ec";
}

.ph-icon-viewgallery:before {
	content: "\e7ed";
}

.ph-icon-vehivles:before {
	content: "\e7ee";
}

.ph-icon-trust:before {
	content: "\e7ef";
}

.ph-icon-warning:before {
	content: "\e7f0";
}

.ph-icon-warehouse:before {
	content: "\e7f1";
}

.ph-icon-shoes:before {
	content: "\e7f2";
}

.ph-icon-video:before {
	content: "\e7f3";
}

.ph-icon-viewlist:before {
	content: "\e7f4";
}

.ph-icon-set:before {
	content: "\e7f5";
}

.ph-icon-store:before {
	content: "\e7f6";
}

.ph-icon-tool-hardware:before {
	content: "\e7f7";
}

.ph-icon-vs:before {
	content: "\e7f8";
}

.ph-icon-toy:before {
	content: "\e7f9";
}

.ph-icon-sport:before {
	content: "\e7fa";
}

.ph-icon-loading {
	animation: rotating 2s linear infinite;
}

.ph-icon--right {
	margin-left: 5px;
}
.ph-icon--left {
	margin-right: 5px;
}

@keyframes rotating {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
