.ph-header,
.ph-footer {
	background: #7dbcea;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.ph-main {
	background: #108ee9;
    color: #fff;
    text-align: center;
    line-height: 160px;
}
.ph-aside {
	background: #3ba0e9;
    color: #fff;
    text-align: center;
    line-height: 200px;
}

